.note-preview {
  border: 1px solid rgb(121, 119, 119);
  padding: 1rem;
  border-radius: 5px;
  transition: box-shadow .7s, border-color .7s;
  cursor: pointer;
}

.note-preview img {
  width: 100%;
}

.note-preview iframe {
  width: 100%;
}

.note-title {
  font-weight: bold;
}

.note-preview:hover {
  box-shadow: 0 0 15px black;
  border-color: black;
}
