.note-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    grid-gap: 1rem;
    max-width: 700px;
    margin: 0 auto
}

.note-list input {
    background-color: transparent; 
    border: none;
}

.note-list input:focus {
    background-color: #ffffff;
}

.done {
    text-decoration: line-through;
}

.unpinned {
    color: gray;
}

.showBar {
    padding-top: 1rem;
    
}

.showBar .hide {
    display: none;
}