.note-preview {
  border: 1px solid black;
  padding: 1rem;
  transition: box-shadow 1s;
}

.note-preview img {
  width: 100%;
}

.note-preview iframe {
  width: 100%;
}

.note-title {
  font-weight: bold;
}

.note-preview:hover {
  box-shadow: 0 0 15px black;
}
