/*pre-helpers*/
/* * {
    box-sizing: border-box;
}
.box {
    font-size: 2em;
    border: 1px solid black;
} */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 200px 1fr 150px;
	grid-template-areas:
		'. header'
		'main sidebar'
        'footer .';

    gap: 25px 10px;
}


/* header {
    grid-area: header;
	/* background-color: #d822f0; */
}
main {
    grid-area: main;
	background-color: #9896f1;
} */
.repeat{
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/* helpers */

.flex {
    display: flex;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.align-start{
    align-items: flex-start;
}
/* .align-right{

}
.jus */
.justify-center {
    justify-content: center;
}
.space-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}
.column {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.flex-start {
    align-items: flex-start;
}
.flex-end {
    align-items: flex-end;
}
.justify-end {
    justify-content: flex-end;
}



.text-center {
    text-align: center;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.width-all {
    width: 100%;
}

.height-all {
    height: 100%;
}

.width-content {
    width: fit-content;
}

.column-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column-layout >*:not(:last-child) {
    margin-bottom: 7.5px;
}


.tbl{
    top: 205px;
    position: fixed;
background-color:lightgrey;
width: 60%;
height: 300px;
text-align: center;
/* margin-left: 3%; */
border-collapse: collapse;
left: 18%;
/* margin-left: 3%; */
/* width: 30%; */

}

  .row{ 
      height: 30px;
      text-align: left    ;
    /* padding-bottom: 10px;
    padding-top: 10px; */
    padding-left: 10px;
    box-shadow: inset 0 -1px 0 0 rgba(10, 8, 44, 0.122);
    /* outline: thin solid black; */
}  

.row:hover{  

    box-shadow: inset 1px 0 0  #dadce0,
    inset  -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60,64,67,.3),
    0 1px 3px 1px rgba(60,64,67,.15);
    z-index: 1;
 }

.content{

    width: 500px;
    height: 300px;
    /* top:5%; */
    margin-left: 220%;
    background-color: rgb(173, 198, 202);
    border: solid black;

      }

    .app{
        margin-left: 15%;
    }
    .special-btn{
        background-color:lightgrey;
        height: 50px;
        width:75px;
        border-radius:50%;
        border: thin black;  
        box-shadow: inset 0 -1px 0 0 rgba(10, 8, 44, 0.122); 
    }
    .special-btn:hover{  

        box-shadow: inset 2px 0 0  #dadce0,
        inset  -3px 0 0 #dadce0,
        0 2px 3px 0 rgba(60,64,67,.3),
        0 2px 4px 1px rgba(60,64,67,.15);
        z-index: 1;
     }
     .unread{
         font-weight: bolder;
     }

     .user-message{
         height: 45px;
         width: 120px;
         background-color: papayawhip;
         border: solid 0.5px purple;
         position: fixed;
         top: 80px;
         right: 550px;
         /* font-style: oblique; */
     }
     .nav-inbox{
         height: 50px;
        max-width: 85%;
        margin-left: 8%;
        margin-top: 20px;
        padding: 10px;
        box-shadow: 5px 10px 18px #888888;
        border-radius: 10px;
    }
    .mail-sort{
        background-color: rgba(115, 123, 129, 0.3);
        
        width: 300px;
        font-size: 0.9em;
    }
    .mail-app{
        font-family: poppins;
        /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    }
    .screen-inbox{
        
        margin-top:30px;
        margin-left: 10%
    }
    .side-inbox{
        height: 170px;
        width: 100px;
        /* border: solid rosybrown  */
        background-color: rgba(182, 155, 155, 0.466);
    }
.sent-div{
    width: 100%;
     margin-left: 100px;
    /* margin-top:100px; */
    z-index: 1; 

    
}
.sent-table{
    top: 205px;
    height: 400px;
    /* margin-left: 1000px; */
    /* z-index: 1; */
    background-color: rgb(132, 154, 223);
    position: fixed;
    
    width: 75%;
    /* height: 300px; */
    text-align: center;
    margin-left: 5%;
    border-collapse: collapse;
   z-index: 1; 
}
td{
    width: 250px;
}
.compose{
    margin-top: 8px;
}
.sent-list{
    margin-top: 10px;
}
.backto{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-weight: bold;
}
.mail-reply{
    background-color: rgb(233, 231, 106);
    height: 100px;
    /* border-top: thin purple; */
}

.btnrply{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-weight: bold; 
    width: 50px;
    height: 50px;
    font-weight: bolder;
}

.newmsg{
height: 700px;
    /* width: 500px; */
}




