
@media (max-width: 400px) {
    .nav-inbox {
      display: flex;
      flex-direction: row;
      /* max-width: 85%; */
      height: 130px;
      margin-left: 8%;
      margin-top: 20px;
      /* border: solid 0.5px rgb(151, 93, 151); */
    }
    .screen-inbox {
      margin-top: 80px;
      margin-left: 1%;
    }
  
    .side-inbox {
      /* height: 170px; */
      /* width: 50px; */
      /* border: solid rosybrown  */
      background-color: inherit;
    }
    .tbl {
      top: 290px;
      position: fixed;
      background-color: lightgrey;
      width: 60%;
      height: 300px;
      text-align: center;
      /* margin-left: 3%; */
      border-collapse: collapse;
      left: 23%;
      /* margin-left: 3%; */
      /* width: 30%; */
    }
    input {
      width: 100px;
    }
    td {
      /* width: 50px; */
      font-size: 10px;
    }
    .row {
      height: 30px;
      text-align: left;
      /* padding-bottom: 10px;
    padding-top: 10px; */
      padding-left: 10px;
      box-shadow: inset 0 -1px 0 0 rgba(10, 8, 44, 0.122);
      /* outline: thin solid black; */
    }
    .special-btn {
      font-size: 12px;
      background-color: lightgrey;
      height: 50px;
      width: 60px;
      border-radius: 50%;
      border: thin black;
      box-shadow: inset 0 -1px 0 0 rgba(10, 8, 44, 0.122);
    }
    .mail-search {
      margin-left: 0px;
      display: flex;
      flex-direction: column;
    }
    .mail-sort {
      padding: 0px;
      display: flex;
      flex-direction: column;
      height: 90px;
      /* width: 300px; */
      font-size: 0.8em;
      background-color: inherit;
      /* align-items: flex-end; */
      justify-content: flex-end;
    }
    .sent-table {
      top: 280px;
      height: 350px;
      /* margin-left: 1000px; */
      /* z-index: 1; */
      background-color: rgb(132, 154, 223);
      position: fixed;
  
      width: 75%;
      /* height: 300px; */
      text-align: center;
      margin-left: -7%;
      border-collapse: collapse;
      z-index: 1;
    }
    .content {
      width: 305px;
      height: 230px;
      /* top:5%; */
      margin-left: 20%;
      background-color: rgb(173, 198, 202);
      border: solid black;
    }
    .newmsg {
      /* margin-top: -200px; */
      height: 100px;
    }
  }
  @media (max-width: 830px) {
    .tbl {
      left: 25%;
    }
    /* margin-left: 3%; */
    /* border-collapse: collapse; */
  
    /* margin-left: 3%; */
    /* width: 30%; */
  
    /* } */
  
    /* .sent-table{
          top: 222px;
          height: 350px;
          /* margin-left: 1000px; */
    /* z-index: 1; */
    /* background-color: rgb(132, 154, 223);
          position: fixed;
          
          width: 70%;
          height: 300px;
          text-align: center;
          margin-left: 1%;
          border-collapse: collapse;
         z-index: 1;  */
    /* } */
  }
  /* @media (max-width: 555px) {
  
      .tbl{
          top: 222px;
          position: fixed;
      background-color:lightgrey;
      width: 65%;
      height: 300px;
      text-align: center;
      /* margin-left: 3%; */
  /* border-collapse: collapse; */
  /* left: 28%; */
  /* margin-left: 3%; */
  /* width: 30%; */
  
  /* } */
  /* 
  @media (max-width: 1266px) {
  
      .tbl{
          top: 222px;
          position: fixed;
      background-color:lightgrey;
      width: 60%;
      height: 300px;
      text-align: center;
      /* margin-left: 3%; */
  /* border-collapse: collapse; */
  /* left: 30%; */
  /* margin-left: 3%; */
  /* width: 30%; */
  
  /* } */
  /* } */
  

  
.tbl{
    top: 225px;
    position: fixed;
background-color:lightgrey;
width: 60%;
height: 54vh;
text-align: center;
/* margin-left: 3%; */
border-collapse: collapse;
left: 18%;
/* margin-left: 3%; */
/* width: 30%; */

}

  .row{ 
      height: 30px;
      text-align: left    ;
    /* padding-bottom: 10px;
    padding-top: 10px; */
    padding-left: 10px;
    box-shadow: inset 0 -1px 0 0 rgba(10, 8, 44, 0.122);
    /* outline: thin solid black; */
}  

.row:hover{  

    box-shadow: inset 1px 0 0  #dadce0,
    inset  -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60,64,67,.3),
    0 1px 3px 1px rgba(60,64,67,.15);
    z-index: 1;
 }

.content{

    width: 500px;
    height: 400px;
    /* top:5%; */
    margin-left: 120%;
    
    background-color: rgb(173, 198, 202);
    /* border: solid black; */
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;

      }

    .app{
        margin-left: 15%;
    }
    .special-btn{
        background-color:lightgrey;
        height: 50px;
        width:75px;
        border-radius:50%;
        border: thin black;  
        box-shadow: inset 0 -1px 0 0 rgba(10, 8, 44, 0.122); 
    }
    .special-btn:hover{  

        box-shadow: inset 2px 0 0  #dadce0,
        inset  -3px 0 0 #dadce0,
        0 2px 3px 0 rgba(60,64,67,.3),
        0 2px 4px 1px rgba(60,64,67,.15);
        z-index: 1;
     }
     .unread{
         font-weight: bolder;
     }

     .user-message{
         height: 45px;
         width: 120px;
         background-color: papayawhip;
         border: solid 0.5px purple;
         position: fixed;
         top: 80px;
         right: 550px;
         /* font-style: oblique; */
     }
     .nav-inbox{
         height: 50px;
        max-width: 85%;
        margin-left: 8%;
        margin-top: 20px;
        padding: 10px;
        box-shadow: 5px 10px 18px #888888;
        border-radius: 10px;
    }
    .mail-sort{
        background-color: rgba(115, 123, 129, 0.3);
        
        width: 300px;
        font-size: 0.9em;
    }
    .mail-app{
        font-family: poppins;
        /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    }
    /* .screen-inbox{
        
        margin-top:30px;
        margin-left: 10%
    } */
    .side-inbox{
        /* height: 55vh; */
        width: 100px;
        margin-left:9%;
        margin-top: 3.2%;
        /* border: solid rosybrown  */
        background-color: rgba(182, 155, 155, 0.466);
        box-shadow: 5px 10px 18px #888888;
        border-radius: 10px;
    }
 .sent-div{
    width: 100%;
     margin-left: 100px;
    margin-top:100px;
     z-index: 1;  

     
 } 
.sent-table{
    top: 225px;
    height: 400px;
    /* margin-left: 1000px; */
    /* z-index: 1; */
    background-color: rgb(132, 154, 223);
    position: fixed;
    
    width: 75%;
    /* height: 300px; */
    text-align: center;
    margin-left: 5%;
    border-collapse: collapse;
   z-index: 1; 
}
td{
    width: 250px;
}
.compose{
    margin-top: 8px;
}
.sent-list{
    margin-top: 10px;
}
.backto{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-weight: bold;
}
.mail-reply{
    /* background-color: rgb(233, 231, 106); */
    height: 200px;
  
    /* border-top: thin purple; */
}

.btnrply{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-weight: bold; 
    width: 50px;
    height: 50px;
    font-weight: bolder;
}

.trans{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-weight: bold; 
    width: 50px;
    height: 50px;
    font-weight: bolder;

}

.newmsg{
height: 700px;
    /* width: 500px; */
}

.chkIsRead {
  font-family: FontAwesome;
  display: inline-block;
}

