@import "./helpers.css";
@import "./layout.css";
@import "./base.css";
@import "./appsus.css";
@import "./fonts.css";
/* APPS */

@import "./apps/keep/keep-main.css";
@import "./apps/books/books-main.css";
@import "./apps/mail/mail-main.css";
/* Pages */

@import "./pages/about.cmp.css";
@import "./pages/home.cmp.css";
@import "./pages/header.cmp.css";
@media (max-width: 700px) {
    .new-note {
        flex-direction: column;
    }
    .main-home-page {
        flex-direction: column;
    }
    .team-member {
        flex-direction: column;
    }
    .tm-desc {
        max-width: 100%;
    }
    .screen-inbox {
        flex-direction: column;
        align-items: center;
    }
    .side-inbox {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
}